My workflow (3).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "message",
          "mode": "list",
          "cachedResultName": "message"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $json['Is Gửi Thông báo'] + ' ' + $json.Message }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        -16
      ],
      "id": "c16512a6-c2c2-49da-a111-a79cb7b8aa32",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "aXDepi9MIB0hgOti",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        0
      ],
      "id": "2c5849d9-6aca-46c4-9009-a7186e60eb97",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NraNZ1T3HbWJvwLkL0iCXxJbwL_EpQhwSKqPoglWHOw",
          "mode": "list",
          "cachedResultName": "TestN8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NraNZ1T3HbWJvwLkL0iCXxJbwL_EpQhwSKqPoglWHOw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TestApend",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NraNZ1T3HbWJvwLkL0iCXxJbwL_EpQhwSKqPoglWHOw/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "9f1b15ba-9b62-4214-8761-4502e4224c05",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dommqqcXZ75sM7Nn",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Lấy tất cả các items từ node trước\nconst items = $input.all();\n\n// Sắp xếp items theo thứ tự ngược lại (mới nhất trước)\n// Nếu có trường ngày tháng, có thể sắp xếp theo đó\n// Ở đây chúng ta lấy những item cuối cùng (mới nhất)\nconst sortedItems = items.reverse();\n\n// Chỉ lấy 10 bản ghi mới nhất (có thể thay đổi số lượng)\nconst latestItems = sortedItems.slice(0, 10);\n\n// Trả về những bản ghi mới nhất\nreturn latestItems.map(item => item.json);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        344,
        0
      ],
      "id": "filter-latest-records",
      "name": "Filter Latest Records"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Filter Latest Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Latest Records": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "575bc5b9-d0cc-4db6-924d-b48a3786c8c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65127e9c5d39f1703cc1e4c1557e8438df473caec1ac163d1849a9121733de6a"
  },
  "id": "h4unTBSOSTrlhJGCcLPKl",
  "tags": []
}